body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://images03.nicepage.io/c461c07a441a5d220e8feb1a/8d31f943a07a5454836d9edf/bg5.jpg')
    no-repeat center center fixed;
  background-size: cover;
  --main: #e2eef3;
  --main-light: #f4f7f8;
  --main-black: #303435;
  --main-brown-light: #ebc478;
  --main-brown: #ba8b2f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  color: var(--main-brown);
  padding: 0.5rem;
}

.quote {
  min-width: 60vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.quote__wrapper {
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  background-color: var(--main-light);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  color: var(--main-black);
}
.quote__wrapper::before {
  content: '``';
  position: absolute;
  top: -32px;
  left: 10px;
  font-size: 6rem;
  color: var(--main-brown-light);
  z-index: 0;
}

.quote__author {
  text-align: right;
  font-style: italic;
  color: var(--main-brown);
}

.quote__btn {
  border: none;
  background-color: transparent;
  color: var(--main-brown);
  font-style: italic;
  outline: none;
}
.quote__btn:hover {
  color: var(--main-brown-light);
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.chat__wrapper {
  width: 70%;
  min-width: 60vw;
  border-radius: 20px;
  padding: 0 20px;
  background-color: var(--main-light);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.chat__login {
  width: 60%;
  padding: 0.5rem;
  display: block;
  margin: 0 auto;
}

.chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  color: var(--main-black);
}

.chat__messages {
  border-top: 1px solid #cacaca;
  height: 40vh;
  margin: 10px 0;
}

.chat__message-item {
  position: relative;
  background-color: var(--main-light) !important;
}

.chat__message-item p {
  width: 85%;
  height: fit-content;
}

.chat__message-del {
  position: absolute;
  top: 5px;
  right: 120px;
  border: none;
  background-color: transparent;
  color: gray;
  transform: scale(1.3);
}

.chat__message-del:hover {
  color: var(--main-black);
}
